### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [206]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [207]:
total_players=len(purchase_data['SN'].unique())
total_players

total_players_display=pd.DataFrame({"Total Players" : [total_players]})
total_players_display.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [208]:
unique_items=len((purchase_data['Item ID']).unique())
average_price=(purchase_data['Price']).mean()
purchase_qty=len(purchase_data['Purchase ID'])
total_revenue=purchase_data['Price'].sum()
purchase_analysis_df=pd.DataFrame({"Number of Unique Items": [unique_items],
                                   "Average Price": [average_price],
                                   "Number of Purchases": [purchase_qty],
                                   "Total Revenue": [total_revenue]})

In [209]:
purchase_analysis_df["Average Price"]=purchase_analysis_df["Average Price"].astype(float).map(
"${:.2f}".format)
purchase_analysis_df["Total Revenue"]=purchase_analysis_df["Total Revenue"].astype(float).map(
"${:,.2f}".format)
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [210]:
copy_purchase_data=purchase_data.copy()

In [211]:
grouped_gender_df=copy_purchase_data.groupby('Gender')
grouped_gender_df.count().head()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [212]:
gender_count=grouped_gender_df.nunique()["SN"]
percentage_gender=gender_count/total_players*100

gender_demographics_df=pd.DataFrame({"Total Count": gender_count,
                                     "Percentage of Players": percentage_gender})
gender_demographics_df.sort_values(["Total Count"], ascending= False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [213]:
purchase_count=grouped_gender_df["Purchase ID"].count()
purchase_average_price=grouped_gender_df["Price"].mean()
purchase_sum=grouped_gender_df["Price"].sum()
purchase_pp=purchase_sum/gender_count

purchase_analysis_df=pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": purchase_average_price,
                                  "Total Purchase Value": purchase_sum,
                                   "Avg Total Purchase per Person": purchase_pp})
purchase_analysis_df.style.format({"Average Purchase Price":"${:.2f}",
                                 "Total Purchase Value":"${:,.2f}",
                                 "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [214]:
bins= [1,9.99,14.99,19.99,24.99, 29.99, 34.99, 39.99,9999]
age_ranges=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["Age Demographics"]=pd.cut(purchase_data["Age"], bins, labels=age_ranges, include_lowest=True)
purchase_data

grouped_by_age=purchase_data.groupby("Age Demographics")
qty_by_age=grouped_by_age.nunique()["SN"]
percentage_by_age=(qty_by_age/total_players) * 100

age_demographics_df=pd.DataFrame({"Total Count": qty_by_age,
                                   "Percentage of Players": percentage_by_age})
age_demographics_df.index.name=None

age_demographics_df.style.format({"Percentage of Players": "{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [216]:

purchase_count_age=grouped_by_age["Purchase ID"].count()
purchase_average_price_age=grouped_by_age["Price"].mean()
purchase_sum_age=grouped_by_age["Price"].sum()
purchase_pp_age=purchase_sum_age/qty_by_age

purchase_analysis_age_df=pd.DataFrame({"Purchase Count": purchase_count_age,
                                       "Average Purchase Price": purchase_average_price_age,
                                       "Total Purchase Value": purchase_sum_age,
                                       "Avg Total Purchase per Person": purchase_pp_age})

purchase_analysis_age_df.index.name="Age Ranges"

purchase_analysis_age_df.style.format({"Average Purchase Price":"${:.2f}",
                                 "Total Purchase Value":"${:,.2f}",
                                 "Avg Total Purchase per Person":"${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [223]:
spender_analysis=purchase_data.groupby("SN")
purchase_count_top=spender_analysis["Purchase ID"].count()
purchase_average_price_top=spender_analysis["Price"].mean()
purchase_sum_top=spender_analysis["Price"].sum()

top_spenders_df=pd.DataFrame({"Purchase Count": purchase_count_top,
                               "Average Purchase Price": purchase_average_price_top,
                                "Total Purchase Value": purchase_sum_top})

sorted_spenders_df=top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()


sorted_spenders_df.style.format({"Average Purchase Price":"${:.2f}",
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [226]:
popular_items=purchase_data[["Item ID", "Item Name", "Price"]]
group_popular=popular_items.groupby(["Item ID", "Item Name"])
purchase_count_popular=group_popular["Price"].count()
purchase_average_price_popular=group_popular["Price"].mean()
purchase_sum_popular=group_popular["Price"].sum()
item_price_popular= purchase_sum_popular/purchase_count_popular

most_popular_items=pd.DataFrame({"Purchase Count": purchase_count_popular,
                                  "Item Price": item_price_popular,
                                  "Total Purchase Value": purchase_sum_popular})
sorted_most_popular_items=most_popular_items.sort_values(["Purchase Count"],ascending= False).head()

sorted_most_popular_items.style.format({"Item Price":"${:.2f}",
                                 "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [228]:
sorted_most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()
sorted_most_popular_items.style.format({"Item Price":"${:.2f}",
                                 "Total Purchase Value":"${:,.2f}"})

In [10]:
popular_items=

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80